<main class="main">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="foodreview">Chope</h1>
        <p class="lead text-body-secondary">
          With Chope, life will never be easier
        </p>
      </div>
    </div>
  </section>

  <div class="headers-restaurant">
    <h4>Restaurants</h4>
    <h5>List of restaurants to browse from</h5>
  </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let r of restaurant" class="col">
          <div class="card shadow-sm">
            <img
              height="200px"
              width="100px"
              src="{{ r.restaurantLink }}"
              class="card-img-top"
            />
            <div class="card-body">
              <p class="card-text title-restaurant">
                {{ r.name }}
              </p>
              <p class="card-text">{{ r.about.slice(0, 30) }} ...</p>
              <button
                (click)="restaurantPage(r.id)"
                type="button"
                class="btn find-out col-12"
              >
                Find out more
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
