.alignment{
    text-align: left;
}
.labels{
    font-size: 15px;
}
.registerBtn{
    margin-top: 5vh;
    width: 70%;
    height: 8vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #4a5f78b3;
    border: none;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow:  9px 9px 12px #aaaaaa,
                -9px -9px 12px #ffffff;
}

.registerBtn:hover{
    background-color: hsl(212, 70%, 21%);
    color: rgb(255, 255, 255);
}
.warning{
    font-size: 15px;
}