
<div class="text-center p-5 mt-5">
  <main class="form-signin w-100 m-auto h3 p-5">
    <form>
      <h3 class="h3 mb-2 fw-normal loginHeader">Forget Password</h3>

      <div class="row g-3">
        <!-- email -->
        <div class="col-sm-12">
          <input
            type="text"
            class="form-control p-2"
            id="firstName"
            placeholder="email"
          />
        </div>
      </div>

      <button class="w-100 btn btn-lg btn-info loginBtn" type="button">
        Send Link
      </button>
    </form>
  </main>
</div>
