<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-light p-4 ">
  <div class="container-fluid">
    <a *ngIf="!isLoggedIn()" class="navbar-brand" routerLink="home">Home</a>
    <a
      *ngIf="userService.roleMatch('ADMIN')"
      class="navbar-brand"
      routerLink="admin/restaurantList"
      >Admin Dashboard</a
    >
    <a
      *ngIf="userService.roleMatch('USER')"
      class="navbar-brand"
      routerLink="user/home"
      >User Dashboard</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item" (click)="this.routerUrl('/register')">
          <a
            *ngIf="!isLoggedIn()"
            class="nav-link nav-link-grow-up"
            aria-current="page"
            routerLink="register"
            routerLinkActive="active2"
            >Register</a
          >
        </li>
        <li
          class="nav-item"
          (click)="this.routerUrl('/admin/restaurantdetails')"
        >
          <a
            *ngIf="isLoggedIn() && userService.roleMatch('ADMIN')"
            class="nav-link nav-link-grow-up"
            aria-current="page"
            routerLink="admin/restaurantdetails"
            routerLinkActive="active2"
            >New Restaurant</a
          >
        </li>
        <li class="nav-item" (click)="this.routerUrl('/user/allDeals')">
          <a
            *ngIf="isLoggedIn() && userService.roleMatch('USER')"
            class="nav-link nav-link-grow-up"
            aria-current="page"
            routerLink="user/allDeals"
            routerLinkActive="active2"
            >Deals</a
          >
        </li>
        <li class="nav-item" (click)="this.routerUrl('/user/search')">
          <a
            *ngIf="isLoggedIn() && userService.roleMatch('USER')"
            class="nav-link nav-link-grow-up"
            aria-current="page"
            routerLink="user/search"
            routerLinkActive="active2"
            >Search for food</a
          >
        </li>
        <li class="nav-item" (click)="this.routerUrl('/user/profile')">
          <a
            *ngIf="isLoggedIn() && userService.roleMatch('USER')"
            class="nav-link nav-link-grow-up"
            aria-current="page"
            routerLink="user/profile"
            routerLinkActive="active2"
            >Account Profile</a
          >
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-md-0">
        <form></form>
        <li class="nav-item searchInput">
          <form class="d-flex" role="search" [formGroup]="form">
            <input
              *ngIf="isLoggedIn() && userService.roleMatch('USER')"
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              list="restaurants"
              name="browser"
              formControlName="restaurant"
            />
            <datalist id="restaurants">
              <option *ngFor="let r of restaurant" value="{{ r.id }}">
                {{ r.name }}
              </option>
            </datalist>

            <button
            *ngIf="isLoggedIn() && userService.roleMatch('USER')"
            class="nav-link nav-link-grow-up searchIcon"
            aria-current="page"
            routerLinkActive="active2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
              (click)="navigateToRestaurant()"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </button>
          </form>
        </li>
        <li class="nav-item">
          <a
            *ngIf="!isLoggedIn()"
            class="nav-link nav-link-grow-up"
            aria-current="page"
            routerLink="login"
            routerLinkActive="active2"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLoggedIn()"
            class="nav-link nav-link-grow-up"
            aria-current="page"
            (click)="logout()"
            routerLinkActive="active2"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
