<!-- <div id="g_id_onload"
     data-client_id="833064911004-npi8tt3iumdq888g2hnno1m4a9egltst.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="www.gmail.com"
     data-auto_prompt="false">
</div> -->
<div
  id="g_id_onload"
  data-client_id="833064911004-npi8tt3iumdq888g2hnno1m4a9egltst.apps.googleusercontent.com"
  data-callback="handleCredentialResponse"
></div>

<div
  class="g_id_signin"
  data-type="standard"
  data-shape="pill"
  data-theme="outline"
  data-text="continue_with"
  data-size="large"
  data-logo_alignment="center"
  data-width="200px"
></div>
