<main class="main">
  <!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide mb-5">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://cdn.shopify.com/s/files/1/0770/5745/files/Harry_s---web-desktop-banner_2000x.jpg?v=1682651648"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.shopify.com/s/files/1/0770/5745/files/Wildfire-Burgers-Keppel---web-desktop-banner_2000x.jpg?v=1682651648"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.shopify.com/s/files/1/0770/5745/files/La_Taperia_Deal_Spotlight_Desktop_Banner_1700x300_0e0e5033-ce0a-4ad6-bc7a-299887b16350_2000x.jpg?v=1683272499"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="headers-restaurant mb-5">
    <div>
      <h4>Deals</h4>
      <h5>List of deals to browse from</h5>
    </div>
    

    <!-- Carousel -->
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-inner">
          <div
            class="carousel-item"
            *ngFor="let chunk of carouselChunks; let i = index"
            [class.active]="i === 0"
          >
            <div class="row">
              <div
                class="col-lg-4 col-md-4 col-sm-12 mb-4"
                *ngFor="let card of chunk"
              >
                <div class="card shadow-sm">
                  <img
                    height="200px"
                    width="100px"
                    src="{{ card.saturdayFrom }}"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a class="card-action discount"
                      >-
                      {{
                        ((card.originalAmount - card.newAmount) /
                          card.originalAmount) *
                          100
                      }}%</a
                    >
                    <p class="card-text title-restaurant">
                      {{ card.name.slice(0, 30) }}...
                    </p>
                    <p class="card-text address-restaurant">
                      {{ card.category }}
                    </p>
                    <div class="card-text mt-5 mb-4 newAmount">${{ card.newAmount }}</div>
                    <a (click)="goToDealPage(card.id)" class="card-button">
                      Purchase</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev icon"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <button class="btn icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-left-square-fill custom-icon"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"
            />
          </svg>
        </button>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <button class="btn icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-right-square-fill custom-icon"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"
            />
          </svg>
        </button>
      </button>
    </div>
  </div>
</main>
