.main{
    margin-top: 15%;
}

section{
    height: 30vh;
}

.custom-icon {
  width: 40px;
  height: 40px;
  color: #f15623;
}

a {
    text-decoration: none;
  }
  
  /* Card Styles */
  
  .card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
  }
  
  .card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #e26d5c;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-action:hover {
    color: #fff;
    background: #e26d5c;
    -webkit-animation: pulse 1.5s infinite;
  }
  
  .card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
  }
  
  .card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 20px;
    color: #636262;
  }
  
  .card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1f487e;
    color: #fff;
    border-radius: 0 0 8px 8px;
  }
  
  .card-button:hover {
    text-decoration: none;
    background-color: #1d3461;
    color: #fff;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
  
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }

.header{
    margin-top: 7%;
    font-size: 30px;
    color: #103560;
    text-align: left;
    font-weight: 600;
}
.title-restaurant{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
  line-height: 24px;
  overflow: hidden;
  margin: 2px 0;
  color: #10024a;
}

.headers-restaurant h4{
  font-size: 30px;
  font-weight: 800;
  font-family: 'Noto Sans', sans-serif;
  color: #10024a;
}
.custom-icon {
  width: 40px;
  height: 40px;
  color: #f15623;
}
.discount{
  height: 80px;
  width: 80px;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}
.address-restaurant{
  color: #6c6f95;
  font-size: 12px;
  height: 30px;
  overflow: hidden;
}
.newAmount{
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
  color: #10024a;
  font-weight: 600;
}