<div class="row">
  <div class="col-md-6 margin mb-2">
    <div class="h-100 p-2 bg-body-tertiary border rounded-3">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="mealName"
        placeholder="Find a meal dish"
      />
      <div *ngFor="let ml of mealNames | filterpipe : mealName" class="city">
        <button class="btn" (click)="getInformation(ml)">
          {{ ml }}
        </button>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 margin">
    <div
      *ngFor="let m of mealRest"
      class="h-100 p-2 sm-body-tertiary border rounded-3"
    >
      <h3>{{ m.name }} - ${{ m.amount }}</h3>
      <button
        (click)="redirectToRestaurant(m.restaurant_id)"
        type="button"
        class="btn reviewBtn"
      >
        {{ m.restaurant_name }}
      </button>
    </div>
  </div>
</div>

<!-- show map when clicked -->
<div *ngIf="showMap">
  <agm-map
    style="height: 300px"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapClick)="mapClicked($event)"
  >
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    <agm-marker
      *ngFor="let marker of markers"
      [latitude]="marker.latitude"
      [longitude]="marker.longitude"
      [label]="marker.restaurant_name"
      (mouseOver)="infoWindow?.open()"
      (mouseOut)="infoWindow?.close()"
    >
      <agm-info-window
        #infoWindow
        *ngIf="selectedMarker === marker"
        [latitude]="selectedMarker.latitude"
        [longitude]="selectedMarker.longitude"
      >
        {{ selectedMarker.restaurant_name }}
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
