.margin{
    margin-top: 15%;
}

agm-info-window {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}
.main{
    text-align: center;
}
.infoWindow{
    background-color: white;
    font-size: 20px;
    height: 40px;
    width: 40px;
}
.filter h3{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#103560;
    padding: 2px;
}
.buttonWidth{
    width: 100%;
    background-color: white;
    color: #103560;
}
ul{
    width: 100%;
    color: #103560;
    text-align: center;
}
.checkbox{
    margin: 5px;
}
.mealName{
    color: #103560;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mealName a{
    margin-left: 50px;
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #103560;
    color: white;
    text-decoration: none;
}
.mealName a:hover{
    color: rgba(245, 245, 245, 0.9);
    background-color: hsla(212, 71%, 22%, 0.8);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.inputMeal{
    font-size: 20px;
    line-height: 36px;
    padding: 0;
    display: inline;
    color: #101125;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
}

.searchBtn{
    font-weight: 500;
    color: white;
    background-color: #10024a;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;
    border: none;
}
.searchIcon{
    font-weight: 500;
    color: white;
}
 map-info-window {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
map-info-window h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
map-info-window div {
    margin-top: 5px;
}
  