<div class="top-margin row">
  <div class="col-8">
    <img src="{{ image }}" class="card-img resImage" alt="..." />
    <div class="cardContainer">
      <h5 class="card-title">{{ resReviews.restaurant.name }}</h5>
      <p class="card-text">{{ resReviews.restaurant.about }}</p>
      <p class="card-text">{{ number }} reviews</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="ratings">
          <i class="fa fa-star rating-color"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>

  <div class="p-2 rounded-3 col-3">
    <h2 class="review display-5 fw-bold">Reviews</h2>
    <button (click)="insertReview()" type="button" class="btn reviewBtn">
      Post a review
    </button>
    <h2 class="review display-5 fw-bold mt-5">Reservation</h2>
    <form [formGroup]="form">
      <div>
        <label for="pax" class="form-label">Pax</label>
        <input
          formControlName="pax"
          type="number"
          class="form-control"
          id="firstName"
          placeholder=""
          value=""
          required=""
        />
        <div
        *ngIf="form.get('pax')?.hasError('required')"
        class="alert alert-danger size"
        role="alert"
        >
          Please enter the number of pax reserved
        </div>
      </div>
      

      <div>
        <label for="date" class="form-label">Date</label>
        <input
          formControlName="dateReserve"
          type="date"
          class="form-control"
          id="firstName"
          placeholder=""
          value=""
          required=""
          (change)="getAvailableTimings()"
        />
        <div
        *ngIf="form.get('dateReserve')?.hasError('required')"
        class="alert alert-danger size"
        role="alert"
        >
          Please enter a date
        </div>
        <div
        *ngIf="form.get('dateReserve')?.errors"
        class="alert alert-danger size"
        role="alert"
        >
          Please enter a future date
        </div>
      </div>
      
      <!-- <div *ngif="timing.minLength > 0"> -->
        <label for="timing" class="form-label">Timing</label>
        <select
          formControlName="timeReserve"
          class="form-select mt-2 buttonWidth"
          aria-label="Default select example"
        >
          <option>Select Timing</option>
          <!-- Distance timing -->
          <option *ngFor="let t of timing" value="{{ t.id }}">
            {{ t.startTiming.slice(0, 5) }} - {{ t.endTiming.slice(0, 5) }}
          </option>
        </select>
      <!-- </div> -->

      <button
        (click)="insertReservation()"
        type="button"
        class="btn reviewBtn mt-3"
      >
        Book Reservation
      </button>
    </form>
  </div>
</div>

<div class="p-5 mb-4 bg-body-tertiary rounded-3 row">
  <h2 class="col-12 display-5 fw-bold">About</h2>
  <div class="container-fluid py-5 col-lg-6">
    <h3 class="fs-4">Description</h3>
    <h4>{{ resReviews.restaurant.about }}</h4>
    <h3 class="fs-4">Address</h3>
    <h4>{{ resReviews.restaurant.address }}</h4>
  </div>
  <div class="container-fluid py-5 col-lg-6">
    <h3 class="fs-4">Open Hours</h3>
    <h4 class="m-0">Monday</h4>
    <h4>
      {{ resReviews.restaurant.mondayOpening }} -
      {{ resReviews.restaurant.mondayClosing }}
    </h4>
    <h4 class="m-0">Tuesday</h4>
    <h4>
      {{ resReviews.restaurant.tuesdayOpening }} -
      {{ resReviews.restaurant.tuesdayClosing }}
    </h4>
    <h4 class="m-0">Wednesday</h4>
    <h4>
      {{ resReviews.restaurant.wednesdayOpening }} -
      {{ resReviews.restaurant.wednesdayClosing }}
    </h4>
    <h4 class="m-0">Thursday</h4>
    <h4>
      {{ resReviews.restaurant.thursdayOpening }} -
      {{ resReviews.restaurant.thursdayClosing }}
    </h4>
    <h4 class="m-0">Friday</h4>
    <h4>
      {{ resReviews.restaurant.fridayOpening }} -
      {{ resReviews.restaurant.fridayClosing }}
    </h4>
    <h4 class="m-0">Saturday</h4>
    <h4>
      {{ resReviews.restaurant.saturdayOpening }} -
      {{ resReviews.restaurant.saturdayOpening }}
    </h4>
    <h4 class="m-0">Sunday</h4>
    <h4>
      {{ resReviews.restaurant.sundayOpening }} -
      {{ resReviews.restaurant.sundayClosing }}
    </h4>
  </div>
</div>
<div
  *ngFor="let r of resReviews.reviews"
  class="p-5 mb-4 bg-body-tertiary rounded-3 row"
>
  <h3>{{ r.ratings }}</h3>
  <h4>{{ r.description }}</h4>
  <h4>{{ r.timestamp }}</h4>
</div>
