<p>
  <a
    class="btn btn-primary"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Deals bought
  </a>
  <a
    class="btn btn-primary m-2"
    data-bs-toggle="collapse"
    href="#collapseExample2"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample2"
  >
    Reservations
  </a>
</p>

<div
  class="collapse mt-2 rounded-3 outline"
  id="collapseExample"
  *ngIf="vouchers.length <= 0"
>
  <div class="card card-body">
    <h4 class="card-title headerTitle">Currently, there are no deals bought</h4>
  </div>
</div>

<div
  class="collapse mt-2 rounded-3 outline"
  id="collapseExample2"
  *ngIf="resDetails.length <= 0"
>
  <div class="card card-body">
    <h4 class="card-title headerTitle">Currently, there are no reservations</h4>
  </div>
</div>

<div
  class="collapse mt-2 rounded-3 outline"
  id="collapseExample2"
  *ngFor="let r of resDetails"
>
  <div class="card card-body">
    <h3 class="card-title headerTitle">{{ r.name }}</h3>
    <h4 class="card-subtitle mb-2 text-body-secondary">
      {{ r.startTiming.slice(0, 5) }} - {{ r.endTiming.slice(0, 5) }}
      {{ r.dateReserve }} {{ r.pax }} pax
    </h4>
    <div class="row">
      <button type="button" class="btn btn-primary edit col-lg-3 col-sm-12">
        Edit
      </button>
      <button
        type="button"
        class="btn btn-primary edit col-lg-3 col-sm-12"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Add this to your calendar
      </button>
      <button
        (click)="deleteReservation(r.id)"
        type="button"
        class="btn btn-primary edit col-lg-3 col-sm-12"
      >
        Delete
      </button>
    </div>

    <app-user-profile-googlecalander
      [nameofRestaurant]="r.name"
      [idx]="r.id"
      [location]="r.address"
      [date]="r.dateReserve"
      [startTiming]="r.startTiming.slice(0, 5)"
      [endTiming]="r.endTiming.slice(0, 5)"
      [contact]="r.contact"
    ></app-user-profile-googlecalander>
  </div>
</div>

<div
  class="collapse mt-2 rounded-3 outline"
  id="collapseExample"
  *ngFor="let r of vouchers"
>
  <div class="card card-body">
    <h3 class="card-title headerTitle">Deal Amount: {{ r.amount }}</h3>
    <h4 class="card-subtitle mb-2 text-body-secondary">
      <!-- {{ r.startTiming.slice(0, 5) }} - {{ r.endTiming.slice(0, 5) }}
      {{ r.dateReserve }} {{ r.pax }} pax -->
    </h4>
    <div class="row">
      <button
        type="button"
        class="btn btn-primary edit col-lg-3 col-sm-12"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="goTodeal(r.dealId)"
      >
        Go to deal information
      </button>
    </div>
  </div>
</div>
